* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: silver;
}

.card{
    background: linear-gradient(135deg, #00feba, #545454);
    color: blanchedalmond;
    width: 90%;
    text-align: center;
    max-width: 470px;
    border-radius: 20px;
    margin: 100px auto 0;
    padding: 40px 35px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    font-size: 18px;
    margin-right: 16px;
    flex: 1;
    border-radius: 30px;
    height: 60px;
    padding: 10px 25px;
    outline: 0;
    border: 0;
    color: #555;
    background: #ebfffc;
}

.search button{
    outline: 0;
    border: 0;
    background: #ebfffc;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.search button img {
    width: 16px;
}

.weather-icon {
    margin-top: 30px;
    width: 170px;
}

.weather h1 {
    font-weight: 500;
    font-size: 80px;
}

.weather h2 {
    margin-top: -10px;
    font-weight: 400;
    font-size: 45px;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    align-items: center;
    text-align: left;
    display: flex;

}

.col img {
    margin-right: 10px;
    width: 40px;
}

.humidity, .wind {
    margin-top: 6px;
    font-size: 30px;
}

