* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: gainsboro;
}

.mainSection{
    background: linear-gradient(135deg, #1e2926, #545454);
    color: rgb(204, 204, 204);
    width: 90%;
    text-align: center;
    max-width: 465px;
    border-radius: 25px;
    margin: 100px auto 0;
    padding: 40px 35px;
}

.invalid{
    font-size: 12px;
    display: none;
    text-align: left;
    margin-left: 12px;
    margin-top: 12px;
}

.enterButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.enterButton input{
    font-size: 18px;
    margin-right: 16px;
    flex: 1;
    border-radius: 20px;
    height: 60px;
    padding: 10px 25px;
    outline: 0;
    border: 0;
    color: #060505;
    background: #ebfffc;
}

.enterButton button{
    outline: 0;
    border: 0;
    background: #ebfffc;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.enterButton button img {
    width: 24px;
}

.weather{
    display: none;
}

.weather-icon {
    margin-top: 25px;
    width: 170px;
}

.weather h1 {
    font-weight: 500;
    font-size: 80px;
}

.weather h2 {
    margin-top: -15px;
    font-weight: 400;
    font-size: 45px;
}

.INFO {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.Column {
    align-items: center;
    text-align: left;
    display: flex;

}

.Column img {
    margin-right: 5px;
    width: 50px;
}

.humidity, .wind {
    margin-top: 10px;
    font-size: 30px;
}
